@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=R;ubik:wght@500&display=swap" rel="stylesheet");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
body{
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
}
h1,h2,h3{
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
}